.gem {
	border-radius: 50%;
	border-width: 0px;
	border-style: solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 0.8px black;
	/* background-color: pink; */
}

.noble {
	width: 75px;
	height: 75px;
	background-color: lightblue;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
}

.card_base {
	border-radius: 4px;
	border-style: solid;
	border-color: silver;
	display: flex;
}

.opponent_card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.market_card {
	justify-content: space-between;
	align-items: flex-start;
}